<footer>
    <p>© 2022 Copyright : reveurdream.com</p><span class="divider">|</span><a href="{{ url('app_contact') }}">Contact</a><span class="divider">|</span><a href="{{ url('app_mentions') }}">{{ 'footer.notice'|trans}}</a>
</footer>

<script>
    $( ".menu-mobile-switch" ).click(function() {
        $( ".menu-panel" ).toggle();
    });
    $( ".menu-panel" ).click(function() {
        $( ".menu-panel" ).toggle();
    });
</script>