{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
    <section id="single-content">
        <div class="wrapper">
            <h1>Contact</h1>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}
