{% extends 'base.html.twig' %}

{% block body %}
    <section id="home">
        <div class="wrapper">
            <div class="left-col">
                <p class="date">{{ 'now'|format_datetime('long', 'none', locale=app.request.getLocale()) }}<img
                            src="{{ asset('build/phase.png') }}"> dans l’Hémisphère Nord</p>
                <div id="left-col-home">
                    <h1>Contez<br/> votre rêve</h1>
                    <p class="sub-h1">et découvrez les songes similaires.</p>
                    <a href="{{ url('app_dream') }}" class="blue-button">commencer</a>
                    {% if not app.user %}
                        <p class="account-connection">
                            Vous avez déjà un compte ? <a href="{{ url('app_login') }}">Connectez-vous</a>
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="right-col">
                {% include "pages/_globe.html.twig" %}
            </div>   <!-- right column -->
        </div>
    </section>

{% endblock %}
