{% extends 'base.html.twig' %}
{% block title %}Mentions légales{% endblock %}
{% block body %}
    <section id="single-content">
        <div class="wrapper">
            <h1>Mentions légales</h1>
        </div>
    </section>
{% endblock %}
