/************************************************************************************/
/********************************** REVEUR DREAM ************************************/
/************************************************************************************/

html {
    scroll-behavior: smooth;

}
@media screen and (min-width: 2561px){
    html {
        font-size: 200%;
    }
}

@media screen and (min-width: 1921px){
    html {
        font-size: 140%;
    }
}

@media screen and (max-width: 1366px){
    html {
        font-size: 88%;
    }
}

@media screen and (max-width: 1280px){
    html {
        font-size: 85%;
    }
}
@media screen and (max-width: 1024px){
    html {
        font-size: 80%;
    }
}


/***** BODY *****/
body{
    background-image: url(../img/bg.png), linear-gradient(to bottom, #063e6d, #0e121d);
    background-repeat: repeat;
    margin: 0;
    background-size: cover;
}
body.central-layout{
    background-position-x: -33vw;
}

/* Fonts */

@font-face {
    font-family: "Bodoni MT";
    src: url("../fonts/bod_b.ttf") format("truetype");
    font-weight: 600;
}

/* Styles */

h1{
    font-family: Bodoni MT, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 5.75em;
    color: white;
    line-height: 0.875em;
    margin: 0;
}
@media screen and (max-width: 1024px){
    h1{
        font-size: 5em;
    }
}
@media screen and (max-width: 768px){
    h1{
        font-size: 4em;
        padding: 0 15px;
    }
}
@media screen and (max-width: 420px){
    h1{
        font-size: 3.5em;
        padding: 0 15px;
        margin: 0.5em 0 0.25em;
    }
}

.page h1{
    margin-bottom:1em;
    margin-top: 0.5em;
}

a{
    text-decoration: none!important;
}

h3{
    font-family: Bodoni MT,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.875em;
    color: white;
    line-height: 1em;
    margin: 0 0 1em;
}
@media screen and (max-width: 768px){
    h3{
        font-size: 2em;
    }
}
.sub-h1{
    font-size: 1.5em;
    color: #e0e6f6;
    font-family: sofia-pro-soft, sans-serif;
}

a:-webkit-any-link {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

.blue-button{
    border: 2px solid #0abff3;
    color: white!important;
    font-family: poppins,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1em 6em;
    border-radius: 2em;
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
}
.blue-button:hover{
    background: #0abff3;
}


:hover{
    transition: 0.3s;
}

a:visited{
    text-decoration: none;
    color: inherit;
}


form label{
    text-transform: uppercase;
    font-family: poppins,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: white;
    display: block;
}
form input{
    font-family: poppins,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: white;
    display: block;
    border: 2px solid #0abff3;
    padding: 0.5em 2em;
    border-radius: 30px;
    line-height: 1em;
    background: transparent;
    margin-bottom: 1em;
    box-sizing: border-box;
}

form>div{
    position: relative;
}
input[type=submit]{
    cursor: pointer;
    text-transform: uppercase;
    padding: 1em 2em!important;
}

input:-internal-autofill-selected {
    background-color: transparent!important;
}

input[type=submit]:hover{
    background: #0abff3!important;
}
#togglePassword, #togglePassword2{
    color: white;
    position: absolute;
    right: 20px;
    top: 19px;
}
@media screen and (min-width: 1981px){
    form input{
        border-radius: 40px;
    }
}
@media screen and (max-width: 768px){
    .page h1{
        text-align: center;
    }

}
@media screen and (max-width: 480px){
    .sub-h1{
        font-size: 1.25em;
    }
}





/**********************************************************************************************************/
/************************************************** HEADER ************************************************/
/**********************************************************************************************************/

header{
    background-color: #060e25;
    padding: 15px;
    height: 82px;
    box-sizing: border-box;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo{
    width: 150px;
    position: absolute;
    top: 10px;
}

@media screen and (max-width: 480px){
    .main-logo {
        width: 120px;
        position: absolute;
        top: 6px;
    }
}


/**************** MENU ******************/

header .nav-bar{
    display: flex;
    align-items: center;
    z-index: 9;
}
header .nav-bar>ul{
    float: left;
    list-style: none;
}

header .nav-bar>ul>li{
    float: left;
    margin-right: 30px;
}

header .nav-bar>ul>li>*{
    color: white;
    font-size: 16px;
    line-height: 16px;
    font-family: sofia-pro-soft, sans-serif;
    cursor: pointer;
    text-decoration: none;
}

header .nav-bar>ul>li>*:hover{
    color: #0abff3;
}

@media screen and (min-width: 1921px){
    header .nav-bar>ul>li>*{
        font-size: 20px;
        line-height: 20px;
    }

}




/************** LANGUES *****************/

.lang-switch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    position: relative;
    align-items: center;
}

.lang-switch span, .lang-switch a{
    color: white;
    font-size: 16px;
    font-family: sofia-pro-soft, sans-serif;
    border: 1px solid #435488;
    display: block;
    padding: 6px;
    height: 18px;
    width: 18px;
    line-height: 1em;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: #060e25;
    border: 2px solid #45568b;
}

.lang-other{
    margin-top: 10px;
}

.lang-switch span:hover, .lang-switch a:hover{
    background-color: #435488;
}

.lang-dropdown{
    display: none;
    position: absolute;
    top: 32px;
}
@media screen and (min-width: 1025px){
    .lang-switch:hover .lang-dropdown{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 1024px){
    .lang-dropdown{
        display: flex;
        position: relative;
        top: unset;
    }
    .lang-switch span, .lang-switch a {
        margin: 0 6px;
    }
    .lang-switch {
        flex-direction: row;
        margin-right: 0;
    }
    .lang-other {
        margin-top: 0px;
    }
}


/************ MENU MOBILE *************/


.menu-mobile{
    display: none;
    margin-top: 10px;
}



.menu-mobile-switch svg {
    fill: white;
}

.menu-mobile-switch {
    width: 36px;
    height: 36px;
    display: none;
    z-index: 9;
    cursor: pointer;
}
.menu-panel {
    background: #060e25;
    display: none;
    opacity: 1;
    position: fixed;
    transition: opacity .25s ease-in,left 0s .25s,right 0s .25s;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin-top: 0px;
    padding-top: 60px;
    left: 0;
}

.menu-panel ul li a {
    color: white;
    display: flex;
    text-transform: uppercase;
    font: 600 1.5em "Poppins", sans-serif;
    border-bottom: 6px solid transparent;
    padding: 1em 30px;
    width: calc(100% - 77px);
    border-top: 2px solid white;
    text-align: center;
    display: block;
}

@media screen and (max-width: 1024px){

    header .nav-bar{
        display: none;
    }
    header .nav-bar-mobile>ul {
        flex-direction: column;
        display: flex;
        padding-left: 0;
        width: 100%;
    }
    header .nav-bar-mobile>ul>li {
        float: unset;
        margin-right: 0px;
    }
    .menu-mobile, .menu-mobile-switch{
        display: block;
    }

    .menu-mobile .menu-panel ul li a {
        width: calc(100% - 53px);
        border-top: 2px solid white;
        text-align: center;
        display: block;
        border-radius: unset;
    }
}

@media screen and (max-width: 480px){
    .menu-panel ul li a {
        font: 600 1.25em "Poppins", sans-serif;
    }
    .menu-mobile, .menu-mobile-switch{
        margin-top: 0px;
    }
    header{
        height: 64px;
    }

}



/**********************************************************************************************************/
/*************************************************** MAIN *************************************************/
/**********************************************************************************************************/


.page .wrapper, #single-content .wrapper{
    max-width: 1400px;
    margin: 3vh auto;
    padding: 0 30px;
    position: relative;
    overflow: hidden;
}
#home .wrapper{
    max-width: 100vw;
    margin: 3vh auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

main{
    min-height: calc(100vh - 82px - 60px - 3vh);
}


@media screen and (min-width: 1921px){
    main{
        min-height: calc(100vh - 100px - 100px - 3vh);
    }
    header {
        height: 100px;
    }
    .page .wrapper, #single-content .wrapper{
        max-width: 1920px;
    }
}

@media screen and (max-width: 1024px){
    .page .wrapper{
        max-width: 100%;
        padding: 0 30px;
    }
}

@media screen and (max-width: 768px){
    .page .wrapper{
        padding: 0 20px;
    }
    main{
        min-height: calc(100vh - 82px - 100px - 3vh);
    }
}



/************* LEFT COL *************/

#home .left-col{
    margin-left: 5vw;
}


/* Version de base */
.left-col p{
    margin: 0;
}

.left-col{
    text-align: center;
    max-width: 440px;
}

.left-col .sub-h1+.blue-button{
    margin-top: 6em;
    display: inline-block;
}
p.date{
    color: white;
    font-family: sofia-pro-soft, sans-serif;
    font-size: 1em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
p.account-connection, p.account-password-lost{
    color: #8e8f97;
    font-family: sofia-pro-soft, sans-serif;
    font-size: 1em;
    cursor: pointer;
    margin-top: 6px;
}

p.account-connection:hover a, p.account-password-lost:hover a{
    color: #e0e6f6;
}

p.date svg, p.date img{
    margin: 0 6px;
    border: 1px solid #e0e6f6;
    border-radius: 20px;
}

@media screen and (min-width: 1921px){
    .left-col{
        max-width: 24vw;
    }
}
@media screen and (max-width: 1024px){
    .left-col .sub-h1+.blue-button{
        margin-top: 2em;
    }
    .left-col{
        margin-left: 0vw;
    }
    #home .left-col{
        margin-left: 0vw;
    }

}

@media screen and (max-width: 420px){
    p.date {
        flex-direction: column;
        font-size: 1.125em;
    }
    p.date svg, p.date img {
        margin: 4px 0;
    }
    p.date span{
        font-size: 0.75em;
    }

}


/* Version connexion */
#left-col-pourquoi{
    margin-left: 0vw!important;
}

#left-col-connexion form{
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
}

#left-col-connexion input{
    background: transparent;
    text-transform: none;
    margin-top: 10px;
    padding: 1em;
    width: 100%;
}

#left-col-connexion form input+i{
    position: absolute;
    top: 7.5em;
}
input:focus{
    outline: none;
}
input::placeholder{
    color: #0abff3;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
}

@media screen and (max-width: 1024px){
    #left-col-connexion{
        width: 320px;
    }
    #left-col-connexion form {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 480px){
    #left-col-connexion input{
        margin-top: 6px;
    }

    #left-col-connexion form input+i{
        position: absolute;
        top: 7em;
    }
}

/* Version pourquoi */

#left-col-pourquoi h1+p{
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
    color: #e0e6f6;
    text-align: justify;
    margin: 30px 0;
}


/************* RIGHT COL *************/
.right-col{
    text-align: center;
    position: relative;
    width: 50vw;
}

.right-col>.globe{
    max-width: 100%;
}


/* Filters */

.filters-column{
    display: flex;
    position: absolute;
    right: 0vw;
    top: -25px;
    padding: 15px 9px;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
}
.filters-column img{
    display: inline-block;
}

.filters-column .filters-button{
    border: 2px solid #0abff3;
    border-radius: 40px;
    padding: 15px 8px;
    background-color: #060e25;
    width: 40px;
    height: 26px;
}
.filters-column p{
    text-transform: uppercase;
    color: white;
    font-family: sofia-pro-soft, sans-serif;
    font-size: 1em;
    margin-right: 20px;
}
.filters-column>.filters-button:hover{
    background-color: #0abff3;
}
.filter-box.selectedFilter{
    background: #0abff3;
}

.filter-box.selectedFilter path{
    fill: white;
}
@media screen and (min-width: 2560px){
    .filters-column p {
        font-size: 1.25em;
    }
}

.filters{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0.8vw;
    top: 50px;
    display: none;
    z-index: 9;
}

.filters:before{
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 2px;
    background: #0abff3;
    left: calc(50% - 1px);
    z-index: -1;
}

.filters-bloc-1{
    z-index: 1;
    margin: 30px 0 0;
}
.filters-bloc-2{
    margin: 30px 0 0;
    z-index: 1;
}

.filter-box{
    border: 2px solid #0abff3;
    border-radius: 40px;
    width: 46px;
    height: 46px;
    background: #0c173c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin: 10px 0 0;
    cursor: pointer;
}
.filter-box svg{
    width: 26px;
    height: 40px;
}
.filter-box svg path{
    fill: #45568b;
}
.filter-box:hover{
    background: #0abff3;
}
.filter-box:hover svg path{
    fill: white;
}

/* Exceptions */
#all.filter-box{
    margin: 30px 0 0;
}
.filters-bloc-1 #reve.filter-box{
    margin: 0px 0 0;
}
.filter-box#voyages svg{
    width: 22px;
}

@media screen and (min-width: 2560px){
    .filters{
        right: -117px;
        top: 68px;
    }
    .filter-box {
        width: 60px;
        height: 60px;
    }
    .filter-box svg {
        width: 34px;
    }
}

@media screen and (min-width: 1921px){
    .filters {
        top: 66px;
        right: 8px;
    }
}

@media screen and (max-width: 1680px){
    .filters {
        right: 1vw;
    }
}
@media screen and (max-width: 1440px){
    .filters {
        right: 1.1vw;
    }
}
@media screen and (max-width: 1280px){
    .filters {
        right: 1.2vw;
    }
}


@media screen and (max-width: 1180px){
    .filters {
        right: 1.6vw;
    }
}

@media screen and (max-width: 992px){
    .right-col {
        margin-right: 0;
    }
    .right-col>.globe{
        max-width: 92%;
    }
    .filters-column p {
        display: none;
    }
    .filters-column {
        right: -62px;
    }
    .filters {
        right: -4.7vw;
    }
}
@media screen and (max-width: 768px){
    .filters-column{
        right: unset;
        top: unset;
        position: relative;
        justify-content: center;
        margin: 0 auto 0em;
    }
    .filters {
        transition: all 0.3;
        width: 100%;
        position: relative;
        flex-direction: row;
        top: unset;
        right: unset;
    }
    .filters-bloc-1, .filters-bloc-2{
        z-index: 1;
        margin: 6px 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filters-bloc-1 .filter-box,  .filters-bloc-2 .filter-box{
        margin: 0 6px!important;
    }
    .filters:before {
        display: none;
    }
    .right-col {
        margin-right: 0;
    }
}
@media screen and (max-width: 480px){

    .filter-box-none:hover{
        background: none;
    }
    .filter-box-none:hover svg path{
        fill: #45568b;
    }

    .filters{
        right: 0px;
        z-index: 9;
    }

    .right-col>.globe{
        max-width: 96%;
        margin-bottom: 0vh;
    }
    .filter-box {
        width: 40px;
        height: 40px;
        margin: 8px 0 0;
    }
    .filter-box svg {
        width: 22px;
        height: 34px;
    }
}


/* Popup de vision d'un rÃªve sur le globe */

.popup-dream{
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    display: none;
}

.popup-dream .overlay{
    background: rgb(17, 25, 47, 0.86);
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}



.popup-dream h2{
    font-family: Bodoni MT, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    color: #e0e6f6;
    margin: 20px 0;
    text-align: left;
    line-height: 1em;
}

.popup-dream .popup-dream-text>div{
    position: relative;
    border-bottom: 1px solid #45568b;
    padding: 1em 0;
}

::-webkit-scrollbar-thumb {
    background-color: #0abff3;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

::-webkit-scrollbar {
    width: 16px;
}
.popup-dream .popup-dream-text>div:last-child{
    border-bottom: 0px solid white;
    padding: 1em 0 0;
}
.popup-dream .popup-dream-text{
    position: fixed;
    top: 50%;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    background: #060e25;
    border: 2px solid #e0e6f6;
    border-radius: 30px;
    padding: 28px;
    width: 80vw;
    overflow-y: scroll;
    max-height: 90%;
}
/* un bloc de rÃªve de la liste */
.popup-dream .popup-dream-text>div .popup-dream-text-date{
    display: inline-block;
    margin: 4px 0 8px;
    color: white;
}

.popup-dream .popup-dream-text>div .popup-dream-text-icons{
    margin: 4px 0;
}
.popup-dream .popup-dream-text>div h2{
    margin: 8px 0 0 0;
}
.popup-dream-text-icons svg{
    height: 20px;
    display: inline-block;
    margin: 0 10px 0 0;
    width: 25px;
}

.popup-dream-text-icons svg path{
    fill: #0abff3;
}

.popup-dream-text-date{
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e0e6f6;
    margin-top: 0;
}

.popup-dream .popup-dream-text p{
    color: #8e8f97;
}

.close-popup{
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e0e6f6;
    padding: 7px 11px 14px!important;
    border: 2px solid #45568b!important;
    position: absolute!important;
    top: 20px;
    right: 0px;
    border-radius: 24px;
    line-height: 0.5em;
    font-size: 22px;
    cursor: pointer;
    z-index: 9;
}
.close-popup:hover{
    border: 2px solid white;
}

@media screen and (max-width: 1024px){
    .popup-dream .popup-dream-text {
        width: 70vw;
    }
    .popup-dream .popup-dream-text>div h2{
        font-size: 2em;
    }
}


/****** REsponsive gÃ©nÃ©ral ******/

@media screen and (max-width: 1024px){
    #home .wrapper{
        max-width: 100%;
        margin: 4vh auto 4vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
    }

    .left-col, .right-col, .right-col>img{
        max-width: 100%;
    }
    .right-col{
        margin-top: 40px;
        width: auto;
    }
}

@media screen and (max-width: 768px){
    #home .wrapper{
        margin: 6vh auto 4vh;
    }
}

@media screen and (max-width: 420px){
    #home .wrapper{
        margin: 4vh auto 4vh;
        padding: 0 20px;
    }

}



/* mot de passe incorrect */

.alert {
    font-family: sofia-pro-soft, sans-serif;
    font-size: 1em;
}

main>.alert{
    font-family: sofia-pro-soft, sans-serif;
    font-size: 1em;
    color: white;
    margin: 0 auto;
    text-align: center;
    background: #0abff3;
    padding: 18px 0;
}

.closebtn {
    margin-right: 20px;
}
/**********************************************************************************************************/
/************************************************** FOOTER ************************************************/
/**********************************************************************************************************/


footer{
    color: #8e8f97;
    background: transparent;
    font-family: sofia-pro-soft, sans-serif;
    font-size: 1em;
    margin: 0 30px;
    text-align: center;
    height: 60px;
}

footer .divider{
    display: inline-block;
    margin: 0 6px;
}

footer>a{
    display: inline-block;
    color: #8e8f97;
}
footer>a:visited{
    color: #8e8f97!important;
}
footer>a:hover{
    color: #e0e6f6!important;
}

footer>p{
    display: inline-block;
}

@media screen and (max-width: 768px){
    footer{
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 0;
    }
    .divider{
        display: none!important;
    }
    footer>a, footer>p {
        margin: 5px auto;
    }
}

@media screen and (min-width: 1921px){
    footer{
        height: 100px;
    }

}








/*****************************************************************************************/
/************************************ COMPTE *********************************************/
/*****************************************************************************************/

.edit-user-data, .my-dreams{
    float: left;
}
.edit-user-data{
    border-right: 1px solid white;
    margin-right: 4vw;
    padding-right: 4vw;
    width: 300px;
}

.my-dreams{
    width: calc(100% - 301px - 8vw)
}

.my-dreams .dream{
    margin-top: 1em;
}

.my-dreams .dream{
    margin-top: 1em;
    border: 2px solid transparent;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 6px;
}
.my-dreams .dream:hover{
    background: #32406e;
    border: 2px solid #5c6ca1;
    border-radius: 30px;
}
.my-dreams .dream:hover .dream_title{
    color: #0abff3;
}
.dream .phase{
    margin-right: 16px;
}
.dream .phase svg{
    border: 2px solid #0abff3;
    border-radius: 20px;
}
.my-dreams .dream_date{
    color: #e0e6f6;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25em;
    margin-right: 20px;
    width: 25%;
}
.my-dreams .dream_title{
    color: #e0e6f6;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25em;
    margin-right: 20px;
    width: 50%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.my-dreams .dream_invisible{
    color: #5c6ca1;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    margin-right: 4px;
    width: 78px;
    text-align: right;
}
.my-dreams .dream_views{
    color: #5c6ca1;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    width: 80px;
}
.my-dreams .dream_edit{
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 0.75em;
    border: 2px solid #0abff3;
    text-transform: uppercase;
    padding: 2px 12px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
    text-align: center;
    width: 120px;
}

@media screen and (max-width: 480px){
    /*.my-dreams .dream_edit{
        display: none;
    }*/
    .my-dreams .dream_invisible{
        display: none;
    }
    /*.dream:hover .dream_edit{
        display: block;
    }*/
}


.edit-user-data #user input{
    width: 100%!important;
}
.edit-user-data #user_save input{
    width: 100%;
}

.edit-user-data #user_save{
    margin-top: 20px;
    background: transparent;
    border: 2px solid #0abff3;
    color: white!important;
    font-family: poppins,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1em 2em;
    border-radius: 2em;
    line-height: 1em;
    cursor: pointer;
    width: 100%;
}

.edit-user-data #user_save:hover{
    background: #0abff3;
}

@media screen and (max-width: 1280px){
    .my-dreams .dream_date{
        font-size: 1em;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1024px){
    .edit-user-data, .my-dreams{
        float: unset;
        margin: 20px 0 60px;
        border: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .edit-user-data form input{
        margin: 5px auto;
    }
    .edit-user-data #user_save{
        width: 308px;
    }
    .edit-user-data #user input{
        max-width: 310px;
    }
    .edit-user-data #user label{
        margin-top: 4px;
    }
    .dream>*{
        text-align: left;
    }
    .my-dreams .dream {
        padding: 4px;
    }
}

.dream_categories{
    width: 40px;
    margin-right: 20px;
    display: flex;
}


.dream_categories svg{
    width: 28px;
    fill: #0abff3;
    margin: 0 auto;
}

@media screen and (max-width: 480px){
    .dream .phase {
        margin-right: 10px;
        width: 24px;
    }
    .dream_categories svg {
        width: 23px;
    }
    .dream_categories{
        width: 25px;
        margin-right: 10px;
    }
    .my-dreams .dream_date {
        margin-right: 10px;
        text-align: center;
    }
    .my-dreams .dream_edit {
        margin-left: 10px;
        width: 104px;
    }
    .edit-user-data #user_save{
        width: 250px;
    }

    .dream_views{
        /*display: none;*/
    }
    .my-dreams .dream_title {
        font-size: 1em;
        margin-right: 20px;
    }
}


@media screen and (min-width: 1920px){
    .edit-user-data {
        width: 400px;
    }
    .my-dreams {
        width: calc(100% - 401px - 8vw);
    }
    .my-dreams .dream_views {
        width: 125px;
    }
    .my-dreams .dream_edit {
        width: 160px;
    }
}

/* Suppression compte */

#delete_user{
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 0.75em;
    border: 2px solid #0abff3;
    text-transform: uppercase;
    padding: 2px 12px;
    border-radius: 20px;
    cursor: pointer;
    margin: 40px auto 0;
    text-align: center;
    width: 120px;
    display: block;
}
#delete_user:hover{
    background: #0abff3;
}



/*****************************************************************************************/
/************************************ POSTER UN REVE *************************************/
/*****************************************************************************************/

.postyourdream{
    text-align: center;
}

.postyourdream h2{
    color: #0ab3e6;
    font-family: Bodoni MT, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3em;
    margin-bottom: 0;
    line-height: 1em;
}
.postyourdream h3{
    color: white;
    font-family: Bodoni MT, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 5em;
    margin: 0.5em 0;
}
@media screen and (max-width: 768px){
    .postyourdream h3{
        font-size: 4em;
    }
}
.postyourdream h2+p{
    color: #0ab3e6;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 0.5em;
}

.dream-phase>p{
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e0e6f6;
}

.labl > input:checked + div{
    border: 0px!important;
}

.dream-options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dream-options-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    position: relative;
}

.dream-options .filter-box{
    margin: 0px 15px;
    cursor: pointer;
}

@media screen and (max-width: 480px){
    .dream-options .filter-box{
        margin: 0px 8px;
    }

}

.next-step-buttons{
    margin-top: 60px;
}

.next-step-buttons>div{
    cursor: pointer;
}

.dream-options .filter-box:after{
    color: #0abff3;
    text-transform: uppercase;
    font-family: poppins,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 100%;
}

.dream-options .filter-box#cat-1:after{
    content: "rÃªve";
}
.dream-options .filter-box#cat-1:hover:after{
    display: block;
}
.dream-options .filter-box#cat-2:after{
    content: "cauchemar";
}
.dream-options .filter-box#cat-2:hover:after{
    display: block;
}

/* Step 2 CatÃ©gories du rÃªve */

#dream-step2 .dream-options .filter-box#cat-1:hover:after{
    display: block;
}
#dream-step2  .dream-options .filter-box#cat-1:after{
    content: "social, famille, amitiÃ©, amour";
}

#dream-step2 .dream-options .filter-box#cat-2:hover:after{
    display: block;
}
#dream-step2 .dream-options .dream-options-icons .filter-box#cat-2:after{
    content: "personnel, imagination";
}
#dream-step2 .dream-options .filter-box#cat-3:hover:after{
    display: block;
}
#dream-step2 .dream-options .filter-box#cat-3:after{
    content: "travail, profession";
}
#dream-step2 .dream-options .filter-box#cat-4:hover:after{
    display: block;
}
#dream-step2 .dream-options .filter-box#cat-4:after{
    content: "voyages";
}
.dream-options .filter-box#cat-5:hover:after{
    display: block;
}
.dream-options .filter-box#cat-5:after{
    content: "animaux";
}

/* Step 4 Ecrire le texte du rÃªve */
#dream-step4 input, #dream-step4 textarea{
    background: transparent;
    display: block;
    padding: 15px;
    margin: 10px auto;
    width: 500px;
    box-sizing: border-box;
}
@media screen and (max-width: 768px){
    #dream-step4 input[type="text"], #dream-step4 textarea{
        width: 100%!important;
    }
}

#dream-step4 textarea{
    height: 298px;
}

.dream_text{
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
#dream_story, #dream_title{
    text-transform: none;
}
.dream_text>p, #edit-my-dream div>p{
    position: absolute;
    bottom: 0;
    right: 20px;
    color: white;
    display: flex;
    align-items: center;
    color: white!important;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
}

.dream_text>p input, #edit-my-dream div>p input{
    color: white!important;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 300;
    font-size: 1em;
    min-height: unset;
}

#counter{
    width: auto!important;
    border: 0px;
    padding: 0!important;
    margin: 0!important;
}

#dream-step-account-creation form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
}

#dream-step-account-creation form input{
    padding: 0.75em 2em;
    margin: 4px auto;
}

@media screen and (min-width: 481px){
    #registration_form_username, #registration_form_email, #registration_form_password_first, #registration_form_password_second{
        min-width: 380px;
    }

}

#dream-step-account-creation form .next-step-buttons{
    margin: 20px auto 60px;
}


#dream-step-account-creation h1{
    margin-top: 1em;
    margin-bottom: 0.25em;
}

@media screen and (max-width: 768px){
    .dream_text{
        width: 100%;
    }
}

/* Messages d'erreur */

#dream-step-account-creation form ul{
    margin: 3px 0 5px;
    padding: 0;
    list-style: none;
    text-align: center;
}


#dream-step-account-creation form ul li{
    color: red;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    text-transform: uppercase;
}

/* Step 5 */

.step5-text{
    color: #0ab3e7!important;
    cursor: pointer;
}
.step5-text+p{
    display: none;
}
.step5-text:hover+p{
    display: block;
    transition: 0.3s;
}

@media screen and (max-width: 768px){
    #dream-step-account-creation form input{
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .postyourdream h3{
        font-size: 4em;
    }
    .postyourdream h2+p {
        margin-top: 0.25em;
    }
}



/*****************************************************************************************/
/************************************ Editer UN REVE *************************************/
/*****************************************************************************************/

/* Col gauche donnÃ©es rÃªve */
.edit-dream-data{
    border-right: 1px solid white;
    margin-right: 4vw;
    padding-right: 4vw;
}



.edit-dream-data #perso{
    transform: translateY(4px);
}

.edit-dream-data form>div{
    overflow: hidden;
}
.edit-dream-data label{
    display: inline-block;
    margin-right: 20px;
}

.edit-dream-data p{
    color: white;
    text-transform: uppercase;
    font-family: poppins,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    margin-top: 2em;
}

input[type=radio]{
    left: -9999px;
    position: absolute;
}
input[type=radio]+.filter-box{
    margin-top: 0;
}

input[type=radio]:checked+.filter-box{
    background: #0abff3;
}
input[type=radio]:checked+.filter-box svg path{
    fill: white;
}
input[type=radio]:not(:checked)+.filter-box{
    background: transparent;
}

.edit-dream-data, .edit-dream{
    float: left;
}

.edit-dream-visibility{
    text-transform: uppercase;
    font-family: poppins,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    color: #0abff3;
    display: flex;
    align-items: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d2c42;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #0abff3;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #25344a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #25344a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: white;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.similar-dreams{
    color: #ffffff!important;
    text-transform: uppercase;
    font-family: poppins,sans-serif;
    font-weight: 600;
    font-size: 0.875em;
    border: 2px solid #0abff3;
    padding: 6px 0.75em;
    margin-top: 3em;
    border-radius: 2em;
    display: inline-block;
}

.similar-dreams:hover{
    background-color: #0abff3;
}

/* Col droite texte rÃªve */

#edit-my-dream>div:first-child{
    display:flex;
    flex-direction: column;
    width: 40vw;
    margin-bottom: 20px;
    position: relative;
}

#edit-my-dream>div>*{
    padding: 15px;
    background: transparent;
    text-transform: none;
}
#edit-my-dream>div>*::placeholder{
    color: #e0e6f6;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
}

#edit-my-dream .edit-dream-validation>*{
    text-transform: uppercase;
    font-family: poppins,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    margin-right: 20px;
}
#edit-my-dream .edit-dream-validation a:hover{
    background: #0abff3!important;
}
#edit-my-dream #form_description{
    min-height: 222px;
}


@media screen and (max-width: 1024px){
    .edit-dream-data, .edit-dream {
        float: unset;
    }
    .edit-dream-data {
        border-right: 0px solid white;
        margin: 0vw 0 60px;
        padding-right: 0vw;
    }
    #edit-my-dream>div:first-child {
        width: 100%;
    }
}


@media screen and (max-width: 480px){
    .edit-dream-data label {
        margin-right: 10px;
    }
}



/*****************************************************************************************/
/************************************* PAGES SIMPLES *************************************/
/*****************************************************************************************/

#single-content .wrapper h1{
    text-align: center;
    line-height: 1.25em;
}
#single-content .wrapper p{
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 400;
    color: #e0e6f6;
    text-align: justify;
    margin: 30px 0;
}


/* Inscription */

.signin #dream-step-account-validation{
    display: none;
}

.signin h1{
    margin: 0.5em 0 0.25em 0;
}

#dream-step-account-creation form>input {
    width: 500px;
    padding: 1em 2em;
}

#dream-step-account-creation form input::placeholder{
    text-transform: none;
}

.next-step-buttons{
    width: 100%;
}
.next-step-buttons>*{
    width: 200px;
    padding: 1em;
    margin: 0 1em!important;
    box-sizing: border-box;
}
.next-step-buttons+.next-step-buttons{
    margin-top: 20px;
}
@media screen and (max-width: 768px){
    #dream-step-account-creation form>input{
        width: 100%;
    }

    .next-step-buttons>*{
        width: 160px!important;
        margin: 7px auto;
        padding: 1em 2em;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 480px){
    .next-step-buttons>*{
        width: 130px!important;
        margin: 0 4px!important;
    }
}


/************************* CONTACT ****************************/

#single-content form{
    text-align: center;
    margin: 1em auto;
    max-width: 380px;
}
#single-content form input{
    margin: 1em auto;
    box-sizing: content-box;
    width: calc(100% - 4em);
    max-width: unset;
}
#single-content form[name="form"] label{
    display: none;
}



#form_message{
    background: transparent;
    padding: 15px;
    margin: 10px auto;
    width: calc(100% - 30px);
    box-sizing: content-box;
    font-family: poppins,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: white;
    display: block;
    border: 2px solid #0abff3;
    border-radius: 30px;
    min-height: 200px;
}
#form_message::placeholder{
    color: #0abff3;
}
#form_send{
    margin-top: 30px;
    background: transparent;
    border: 2px solid #0abff3;
    color: white!important;
    font-family: poppins,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1em 2em;
    border-radius: 2em;
    line-height: 1em;
    cursor: pointer;
}
#form_send:hover {
    background: #0abff3;
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){

}

@media screen and (min-width: 1981px){
    #single-content form{
        max-width: 20vw;
    }
}

/*****************************************************************************************/
/**************************************** CESIUM *****************************************/
/*****************************************************************************************/
.right-col #cesiumContainer{
    width: 48vw!important;
    height: 79vh!important;
}

@media screen and (min-wudth: 3840px){
    .right-col #cesiumContainer{
        width: 56vw!important;
        height: 69vh!important;
    }
}

@media screen and (max-width: 1680px){
    .right-col #cesiumContainer{
        width: 50vw!important;
        height: 80vh!important;
    }
}

@media screen and (max-width: 1440px){
    .right-col #cesiumContainer{
        height: 78vh!important;
    }
}
@media screen and (max-width: 1366px){
    .right-col #cesiumContainer{
        width: 48vw!important;
        height: 78vh!important;
    }
}

@media screen and (max-width: 1280px){
    .right-col #cesiumContainer{
        height: 70vh;
    }
}

@media screen and (max-width: 1024px){
    .right-col #cesiumContainer{
        padding-top: 2vh;
        height: 57vh!important;
        width: 73vw!important;
    }
}

@media screen and (max-width: 1024px) and (max-height: 600px) and (orientation: landscape){
    .right-col #cesiumContainer{
        height: 100vh!important;
        width: 73vw!important;
    }
}
@media screen and (max-width: 991px) and (max-height: 600px){
    .right-col #cesiumContainer{
        height: 86vh!important;
        width: 63vw!important;
    }
}

@media screen and (max-width: 768px){
    .right-col #cesiumContainer {
        width: 78vw!important;
    }
}

@media screen and (max-width: 480px){
    .right-col #cesiumContainer{
        width: 84vw!important;
        height: 46vh!important;
        padding: 0;
    }

    .right-col{
        margin-top: 0;
    }
}

@media screen and (max-width: 380px){
    .right-col #cesiumContainer {
        width: 84vw!important;
        height: 39vh!important;
    }
}
@media screen and (max-width: 320px){
    .right-col #cesiumContainer{
        width: 84vw!important;
        height: 45vh!important;
    }
}


/***** RÃ©init mot de passe *****/

#single-content form[name="change_password_form"] button{
    border: 2px solid #0abff3;
    color: white!important;
    font-family: poppins,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1em 2em;
    border-radius: 2em;
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    margin-top: 2em;
}
#single-content form[name="change_password_form"] input{
    margin-top: 0.25em;
}

#single-content form[name="change_password_form"] button:hover{
    background: #0abff3;
}
