{% extends 'base.html.twig' %}

{% block title %}Je partage mon rêve - Mon compte{% endblock %}

{% block body %}
    <style>
        .labl > input { /* HIDE RADIO */
            visibility: hidden; /* Makes input not-clickable */
        }

        .labl > input + div { /* DIV STYLES */
            cursor: pointer;
        }

        .labl > input:checked + div { /* (RADIO CHECKED) DIV STYLES */
            background-color: #ffd6bb;
            border: 1px solid #ff6600;
        }
    </style>
    <section class="page postyourdream">
        <div class="wrapper">
            <div class="dream-phase" id="dream-step2">
                <h2>Contez votre rêve</h2>
                <p>Phase 2/4</p>
                <h3>Quel était le thème<br/> de ce songe&nbsp;?</h3>

                <form action="{{ path('app_dream_theme', {'id' : dream.id}) }}" method="post">
                    <div class="dream-options">
                        <div class="dream-options-icons">
                            <label class="labl">
                                <input  type="radio" name="theme" value="1">
                            <div class="filter-box" id="social">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 383.95 268.47">
                                    <path d="M0,191.98c1.24-5.83,2.06-11.79,3.79-17.48,7.91-25.96,24.17-44.9,48.58-56.85,2.1-1.03,3.59-1.04,5.68,.39,15.27,10.39,32.07,15.23,50.6,13.24,8.12-.87,15.38-3.99,21.95-8.79,1.09-.8,2.19-1.6,3.63-2.66,2.25,13.38,8.2,24.52,17.65,33.91-38.18,18.6-52.49,49.9-49.02,90.61-1.54,.15-2.39,.31-3.23,.31-32.72,.01-65.44,0-98.16,0-.49,0-.99-.11-1.48-.17C0,226.97,0,209.47,0,191.98Z"/>
                                    <path d="M383.95,244.47c-2.87,.06-5.73,.18-8.6,.18-29.48,.01-58.95,0-88.43,0h-5.13c0-2.36-.04-4.54,0-6.72,.27-13.05-.51-25.96-5.39-38.28-8.04-20.28-21.83-35.2-41.62-44.51-.75-.35-1.49-.74-2.63-1.3,9.75-9.61,15.7-20.87,17.85-34.38,.7,.34,1.4,.52,1.88,.94,12.22,10.74,26.53,12.94,42.05,10.46,11.9-1.91,22.81-6.22,32.58-13.26,1.8-1.3,3.07-.91,4.71-.1,29.97,14.87,47.32,38.85,52.05,71.97,.12,.84,.45,1.66,.68,2.49v52.49Z"/>
                                    <path d="M125.23,268.47c0-14.73-.3-29.46,.07-44.18,.65-25.89,23.47-50.54,49.3-53.2,13.41-1.38,26.98-2.07,40.24,1,25.8,5.99,43.18,27.87,44.24,55.66,.49,12.84,.11,25.71,.1,38.57,0,.72-.31,1.44-.47,2.15H125.23Z"/>
                                    <path d="M107.24,0c4.33,1.09,8.77,1.84,12.96,3.33,24.12,8.58,38.22,31.61,35.76,58.09-2.15,23.16-21.56,43.25-45.57,47.17-29.12,4.76-58-15.91-62.35-44.62C43.34,33,63.69,4.94,93.94,.69,94.64,.59,95.3,.24,95.99,0h11.25Z"/>
                                    <path d="M287.21,0c4.09,1,8.26,1.73,12.24,3.04,23.61,7.73,39.38,31.57,37.11,55.89-2.38,25.51-21.34,45.99-46.02,49.7-30.04,4.52-57.63-15.78-62.42-45.94-4.57-28.77,15.49-56.55,44.61-61.77,1.58-.28,3.15-.6,4.73-.91,3.25,0,6.5,0,9.75,0Z"/>
                                    <path d="M192.1,147.05c-19.81,0-36.05-16.24-35.96-35.96,.09-19.75,16.27-35.75,36.2-35.8,19.55-.05,35.66,16.15,35.65,35.83-.01,19.98-15.94,35.92-35.89,35.92Z"/>
                                </svg>
                            </div>
                            </label>
                            <label class="labl">
                                <input  type="radio" name="theme" value="2">
                            <div class="filter-box" id="perso">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 265.7 299.69">
                                    <path d="M84.76,299.69c-4.9-1.7-9.83-3.32-14.68-5.16-1.45-.55-2.67-1.69-3.91-2.5,4.57-1.96,9.01-3.6,13.21-5.72,4.76-2.41,5.84-5.39,3.82-8.94-2.03-3.56-5.05-4.02-9.63-1.46-18.5,10.33-40.83,.81-45.32-19.71-2.57-11.75,.99-21.92,10.04-30.08,1.5-1.35,3.45-3.18,3.53-4.88,.1-2-1.08-4.9-2.66-5.91-1.52-.97-4.69-.75-6.38,.23-2.74,1.59-5.05,4.07-7.17,6.5-1.5,1.72-2.76,1.9-4.83,1.24-18.1-5.77-26.5-27.76-16.54-44.19,.8,.51,1.62,.98,2.38,1.53,8.32,6.02,17.62,8.65,27.84,7.99,4.04-.26,6.16-2.44,6.1-6.09-.06-3.82-2.38-6.2-6.61-5.81-13.76,1.27-27.59-8.19-31.29-22.19-4.48-16.96,8.19-35.05,25.67-36.43,1.24-.1,2.51-.23,3.68-.6,3.13-.97,4.28-3.4,3.89-6.42-.39-3.05-2.2-5.31-5.48-4.96-5.39,.57-10.73,1.61-16.47,2.51-2.25-7.05-1.25-14.28,1.84-21.3,5.89-13.35,20.49-21.51,34.08-19.17,15.56,2.67,26.76,14.28,28.22,29.27,.08,.87,.2,1.74,.38,2.59,.78,3.63,3.21,5.38,6.73,4.89,3.39-.48,5.01-2.53,4.98-6.29-.16-18.47-14.32-36.37-32.64-41.11-3-.78-6.12-1.31-9.21-1.49-2.18-.13-2.94-.97-3.53-2.93-3.21-10.75,2.02-22.76,12.26-27.81,10.25-5.05,23.07-1.7,29.65,7.75,.64,.92,1.15,1.94,1.81,2.84,2.08,2.8,4.96,3.39,7.91,1.68,2.84-1.64,3.86-4.69,2.3-7.72-3.11-6.03-7.71-10.72-13.56-14.16-.95-.56-1.94-1.07-3.19-1.76,3.06-7.35,8.41-11.81,15.94-13.38,15.58-3.24,28.83,7.69,28.83,23.61,0,78.88,0,157.76,0,236.65,0,19.87-13.37,35.24-33.13,38.21-.72,.11-1.42,.43-2.12,.65h-6.75Zm-17.16-83.49c-2.34-.15-4.82-.47-7.29-.42-3.95,.09-6.28,2.42-6.28,5.96,0,3.56,2.32,5.79,6.21,5.98,17.06,.82,27.46,13.59,24.64,30.26-.76,4.47,.91,7.36,4.6,7.97,3.91,.65,6.41-1.23,7.23-5.7,2.73-14.95-1.8-27.23-13.5-36.99-1.43-1.19-2.67-3.37-2.84-5.2-1.3-14.01,5.16-24.92,18.01-31.04,4.18-1.99,5.47-4.74,3.89-8.31-1.59-3.59-4.5-4.54-8.78-2.62-11.95,5.37-20.01,14.3-23.66,26.89-1.23,4.25-1.51,8.77-2.24,13.21Zm3.55-71.48c14.51,.13,27.85-6.39,35.69-16.93,2.72-3.66,2.58-6.88-.4-9.2-2.92-2.27-6.28-1.62-9.05,1.75-11.89,14.44-29.84,16.7-44.86,5.65-3.62-2.66-6.69-2.4-9.1,.76-2.31,3.03-1.78,5.83,1.74,8.65,7.89,6.31,16.9,9.4,25.98,9.32Z"/>
                                    <path d="M174.04,299.69c-3.47-.92-7.05-1.58-10.4-2.82-15.43-5.7-24.85-19.29-24.85-35.67-.01-79.38-.01-158.76,0-238.15,0-11.11,6.93-19.59,18.01-22.3,10.49-2.57,20.91,1.92,25.87,11.15,.29,.54,.48,1.13,.49,1.15-4.45,3.96-8.77,7.64-12.88,11.53-1.32,1.25-2.21,3.02-3.1,4.65-1.9,3.48-1.13,6.58,1.94,8.35,3.16,1.82,6.22,1.08,8.3-2.35,4.87-8.06,11.95-12.3,21.33-12.27,15.09,.05,26.17,15.2,22.09,29.79-.63,2.26-1.54,3.13-4.01,3.29-22.12,1.46-40.27,19.58-41.37,41.1-.26,5.14,1.32,7.5,5.25,7.84,4.01,.34,6.17-1.95,6.71-7.16,1.46-13.9,10.46-24.91,23.84-28.65,11.79-3.3,22.4-.61,31.13,7.86,8.78,8.51,12.02,19.03,9.43,31.14-.07,.33-.39,.6-.43,.66-4.92-.93-9.61-2.11-14.38-2.63-4.75-.52-7.15,1.46-7.44,5.25-.29,3.87,2.1,6.29,6.88,6.61,7.62,.51,14.01,3.59,19.09,9.16,8.33,9.14,10.48,19.7,5.95,31.24-4.3,10.95-15.28,18.18-26.92,18.25-1.13,0-2.25-.05-3.38-.03-3.8,.06-6,2.03-6.21,5.51-.22,3.72,1.82,6.13,5.72,6.42,8.83,.66,17.14-1.13,24.76-5.73,1.91-1.15,3.73-2.44,5.59-3.67,7.3,9.56,5.91,26.15-3.68,35.76-3.56,3.57-8.56,5.79-13.09,8.27-.91,.5-2.98-.23-4.01-1.04-2.44-1.92-4.44-4.4-6.86-6.35-3.17-2.54-6.33-2.21-8.59,.53-2.3,2.78-1.92,6.25,1.26,8.83,7.77,6.29,11.82,14.35,11.86,24.35,.09,23.12-24.16,37.79-44.7,27.05-1.11-.58-2.16-1.26-3.29-1.78-3.09-1.41-5.94-.42-7.63,2.58-1.59,2.82-1.19,5.98,1.65,7.54,4.01,2.21,8.32,3.87,12.53,5.71,.89,.39,1.88,.55,3.13,.9-5.54,5.05-12.24,6.48-18.85,8.13h-6.75Zm23.52-83.49c-.07-1.13-.12-2.23-.2-3.32-1.2-17.26-9.79-29.46-25.36-36.78-4.21-1.98-7.21-.94-8.77,2.65-1.57,3.58-.28,6.29,3.95,8.3,12.73,6.04,19.13,16.71,18.02,30.67-.15,1.94-1.38,4.3-2.87,5.55-11.68,9.79-16.23,22.05-13.48,37.01,.83,4.49,3.31,6.35,7.23,5.69,3.69-.62,5.36-3.53,4.59-7.98-2.87-16.55,7.62-29.4,24.67-30.25,3.87-.19,6.21-2.47,6.18-6.02-.03-3.38-2.28-5.78-5.95-5.92-2.59-.1-5.19,.24-8.02,.4Zm-5.09-71.4c10.14,.27,20.05-2.76,28.52-9.95,3.01-2.56,3.29-5.34,1.09-8.19-2.26-2.93-5.48-3.53-8.49-1.02-14.52,12.09-36.18,8.19-45.77-5.63-.83-1.2-2.69-2.65-3.83-2.47-2.23,.36-4.77,1.33-6.3,2.9-1.97,2.02-.99,4.67,.64,6.82,8.35,11.03,19.53,16.68,34.15,17.53Z"/>
                                    <path class="b"
                                          d="M67.6,216.19c.72-4.44,1.01-8.96,2.24-13.21,3.65-12.59,11.71-21.52,23.66-26.89,4.28-1.92,7.19-.98,8.78,2.62,1.58,3.57,.29,6.32-3.89,8.31-12.86,6.12-19.31,17.03-18.01,31.04,.17,1.83,1.41,4.01,2.84,5.2,11.71,9.76,16.24,22.04,13.5,36.99-.82,4.48-3.31,6.35-7.23,5.7-3.69-.62-5.35-3.5-4.6-7.97,2.82-16.67-7.58-29.44-24.64-30.26-3.89-.19-6.22-2.42-6.21-5.98,0-3.54,2.34-5.88,6.28-5.96,2.47-.05,4.96,.27,7.29,.42Z"/>
                                    <path class="b"
                                          d="M71.15,144.72c-9.08,.08-18.1-3.01-25.98-9.32-3.52-2.82-4.05-5.61-1.74-8.65,2.41-3.16,5.49-3.42,9.1-.76,15.03,11.05,32.97,8.79,44.86-5.65,2.78-3.37,6.13-4.02,9.05-1.75,2.98,2.32,3.12,5.54,.4,9.2-7.84,10.55-21.18,17.06-35.69,16.93Z"/>
                                    <path class="b"
                                          d="M197.56,216.19c2.83-.16,5.43-.5,8.02-.4,3.67,.14,5.92,2.54,5.95,5.92,.03,3.54-2.32,5.82-6.18,6.02-17.05,.84-27.54,13.7-24.67,30.25,.77,4.45-.9,7.35-4.59,7.98-3.92,.66-6.4-1.2-7.23-5.69-2.75-14.95,1.8-27.22,13.48-37.01,1.49-1.25,2.72-3.61,2.87-5.55,1.11-13.96-5.29-24.63-18.02-30.67-4.23-2.01-5.52-4.71-3.95-8.3,1.57-3.59,4.56-4.63,8.77-2.65,15.57,7.32,24.16,19.52,25.36,36.78,.08,1.1,.13,2.2,.2,3.32Z"/>
                                    <path class="b"
                                          d="M192.47,144.79c-14.62-.85-25.8-6.5-34.15-17.53-1.63-2.15-2.61-4.79-.64-6.82,1.53-1.57,4.07-2.54,6.3-2.9,1.14-.18,3,1.27,3.83,2.47,9.59,13.81,31.25,17.72,45.77,5.63,3.01-2.51,6.23-1.91,8.49,1.02,2.2,2.85,1.92,5.63-1.09,8.19-8.47,7.19-18.38,10.22-28.52,9.95Z"/>
                                </svg>
                            </div>
                            </label>
                            <label class="labl">
                                <input  type="radio" name="theme" value="3">
                            <div class="filter-box" id="travail">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 383.95 319.95">
                                    <path d="M0,282.26c0-42.75,0-85.5,0-128.25,.37,.07,.75,.09,1.1,.21,58.48,19.47,117,38.83,175.4,58.55,10.56,3.57,20.42,3.59,30.97,.03,58.77-19.78,117.65-39.23,176.49-58.79v127.5c-1.23,4.03-1.98,8.3-3.77,12.07-8.29,17.49-22.24,26.36-41.66,26.37-97.73,.01-195.45,0-293.18,0-1,0-2,0-3-.06-17.48-1.04-30.18-9.46-37.97-25.05-1.97-3.94-2.94-8.37-4.37-12.57Z"/>
                                    <path d="M0,128.52v-42.75c1.88-5.1,3.07-10.59,5.75-15.22,8.63-14.94,21.87-22.44,39.2-22.46,26.37-.02,52.74-.05,79.1,.05,3.01,.01,4.24-.66,4.06-3.9-.25-4.48-.14-9,.02-13.49,.61-16.77,13.71-30.24,30.43-30.5,22.24-.34,44.49-.3,66.73-.01,14.51,.19,26.74,10.29,29.61,24.54,1.21,6.04,1.02,12.42,.89,18.63-.08,3.79,.93,4.8,4.76,4.77,26.24-.18,52.49-.21,78.73-.05,19.27,.12,32.99,9.25,41.04,26.68,1.7,3.68,2.44,7.8,3.62,11.71v42c-.33,.18-.64,.4-.99,.52-62.13,20.71-124.25,41.45-186.44,61.98-2.93,.97-6.77,.73-9.76-.25-37.5-12.32-74.93-24.87-112.37-37.37C49.59,145.11,24.8,136.81,0,128.52ZM192,48.08c9.61,0,19.22-.06,28.84,.04,2.4,.03,3.38-.65,3.25-3.17-.18-3.36-.16-6.74,0-10.11,.11-2.39-.91-2.93-3.09-2.93-19.35,.06-38.7,.06-58.05,0-2.23,0-3.17,.62-3.05,2.97,.16,3.24,.22,6.5-.02,9.73-.22,2.93,.98,3.55,3.67,3.51,9.48-.14,18.97-.06,28.46-.06Z"/>
                                </svg>
                            </div>
                            </label>
                            <label class="labl">
                                <input  type="radio" name="theme" value="4">
                            <div class="filter-box" id="voyages">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.57 36.5">
                                    <path d="M30.97,36.5H.6s-.04-.06-.07-.07c-.63-.4-.7-.94-.2-1.51,.28-.33,.64-.58,.78-1.03,1.38-4.71,3.14-9.27,5.6-13.53,1.36-2.35,2.88-4.58,4.77-6.55,.47-.49,.98-.96,1.47-1.43-1.52-1.55-4.2-1.8-6-.57-.18,.12-.39,.29-.56,.08-.1-.12-.13-.37-.09-.54,.47-1.87,2.93-3.74,5.41-2.56,.4,.19,.76,.47,1.15,.71-.03-.06-.06-.11-.09-.16-1.86-2.6-4.28-4.01-7.58-3.56-.16,.02-.45-.05-.48-.14-.05-.15,.02-.39,.13-.53,.95-1.22,2.24-1.88,3.73-2.16,1.7-.31,3.32-.07,4.74,.98,.57,.42,1.05,.95,1.6,1.47-.28-.53-.51-1.06-.81-1.55-.74-1.19-1.75-2.08-3.05-2.64-.23-.1-.43-.22-.4-.52,.02-.3,.24-.38,.48-.44C11.44,.16,11.76,.08,12.08,0c.43,0,.86,0,1.28,0,.63,.16,1.28,.26,1.88,.51,2.3,.94,3.66,2.63,3.91,5.14,.03,.34,0,.69,0,1.04,.09,0,.12,0,.14,0,2.3-.65,4.34-.17,6.03,1.51,1.33,1.31,2.05,2.91,1.97,4.82-.01,.25-.03,.49-.31,.58-.29,.1-.49-.06-.66-.29-.66-.9-1.52-1.57-2.52-2.04-.75-.35-1.54-.57-2.37-.63,.16,.1,.33,.18,.5,.26,.97,.49,1.77,1.19,2.34,2.12,.76,1.22,1.05,2.55,.95,3.98-.09,1.23-.46,2.35-1.24,3.31-.09,.12-.31,.22-.44,.19-.13-.03-.22-.23-.31-.37-.04-.06-.01-.16-.03-.24-.08-.44-.11-.9-.24-1.33-.67-2.22-2.18-3.7-4.2-4.72-.25-.13-.53-.22-.79-.33,0,.11,.05,.15,.1,.18,2.64,2.01,1.62,5.49-.55,6.64-.14,.07-.4,.09-.5,0-.1-.08-.12-.35-.06-.49,.32-.81,.42-1.63,.25-2.48-.26-1.33-.87-2.44-2.04-3.26-3.8,4.7-6.01,10-6.38,16.09,3.3-.84,6.6-1.04,9.95-.73-.05-1.23-.26-2.35-.64-3.45-.81,.12-1.49,.94-1.58,1.83-.01,.12-.07,.23-.11,.35-.11-.08-.24-.15-.31-.25-.58-.86-.27-2.03,.65-2.49,.07-.03,.13-.07,.2-.11-1.23,.08-2.28,.48-2.88,1.64-.06,.12-.18,.2-.27,.3-.07-.13-.18-.24-.21-.38-.17-.67-.01-1.3,.31-1.88,.45-.83,1.18-1.27,2.11-1.39-.78-.18-1.5-.07-2.2,.31-.1,.05-.24,.03-.36,.04,0-.12-.03-.25,0-.36,.4-1.25,2.1-2.26,3.58-1.55,.2,.09,.39,.21,.59,.32,.04-.09,.07-.15,.09-.21,.62-1.56,2.53-2.17,3.94-1.24,.12,.08,.19,.22,.29,.32-.14,.07-.27,.17-.41,.19-.75,.1-1.38,.43-1.87,1.02,.62-.34,1.26-.47,1.95-.3,.89,.23,1.56,.73,1.94,1.58,.05,.12,.04,.27,.06,.4-.13-.02-.28-.01-.39-.07-.89-.47-1.78-.43-2.67-.05-.22,.1-.44,.22-.65,.34,1.19-.17,2.17,.55,2.19,1.65,0,.13-.06,.26-.09,.39-.11-.07-.24-.13-.32-.23-.47-.64-1.73-.97-2.4-.54,.62,1.16,.98,2.41,1.21,3.69,.05,.3,.18,.41,.46,.46,2.51,.46,4.91,1.26,7.12,2.56,1.21,.71,2.33,1.56,3.25,2.64,.42,.49,.34,1.05-.2,1.39-.05,.03-.08,.07-.13,.11Z"/>
                                </svg>
                            </div>
                            </label>
                            <label class="labl">
                                <input  type="radio" name="theme" value="5">
                            <div class="filter-box" id="animaux">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 409.64 409.64">
                                    <path d="M130.41,409.64c-5.27-1.22-10.68-2.03-15.78-3.75-18.38-6.19-28.08-19.73-31.4-38.34-2.76-15.52-.71-30.82,2.68-45.95,8.75-39.05,23.25-75.74,45.96-108.88,10-14.59,21.55-27.84,36.7-37.44,25.18-15.95,51.89-15.01,76.15,2.42,13.19,9.47,23.74,21.44,32.81,34.69,24.39,35.67,39.61,75.18,47.83,117.43,2.6,13.37,3.51,26.92,.47,40.47-5,22.37-20.72,36.33-43.62,38.58-1.01,.1-2,.5-3,.77h-17.6c-12.8-1.72-23.97-7.99-35.8-12.53-15.75-6.05-31.71-5.23-47.18,2.06-5.75,2.71-11.59,5.29-17.58,7.41-4.19,1.48-8.69,2.07-13.05,3.06h-17.6Z"/>
                                    <path d="M141.61,0c9.98,2.24,19.15,6.07,26.98,12.9,14.57,12.71,22.7,28.94,26.21,47.65,4.15,22.13,1.6,43.32-10.77,62.52-10.64,16.52-25.6,25.88-45.88,24.01-15.31-1.41-27.22-9.52-36.69-21.17-14.51-17.85-20.18-38.65-19.28-61.39,.64-16.08,5.15-30.91,14.9-43.88,7.88-10.47,17.97-17.64,31.14-19.96,.48-.09,.92-.45,1.38-.69h12Z"/>
                                    <path d="M280.02,0c6,2.37,12.48,3.94,17.9,7.26,15.17,9.29,23.51,23.79,27.13,40.72,6.62,30.91,.7,59.03-21.19,82.68-14.65,15.82-35.83,20.9-54.27,13.29-14.19-5.86-23.32-16.96-29.41-30.64-14.03-31.52-7.17-71.39,16.52-96.3,8.18-8.6,18.03-14.41,29.94-16.34,.48-.08,.92-.44,1.38-.66h12Z"/>
                                    <path d="M409.64,185.62c-2.17,7.61-3.52,15.59-6.69,22.77-7.37,16.72-19.3,29.06-37.09,35.11-20.33,6.92-41.8-2.76-50.57-24.41-12.39-30.57,5.39-72.38,36.11-84.54,25.48-10.08,51.1,3.91,56.64,30.95,.5,2.45,1.07,4.88,1.6,7.32v12.8Z"/>
                                    <path d="M0,172.81c1.37-5.1,2.21-10.41,4.19-15.26,10.14-24.73,35.43-33.33,59.45-20.45,26.68,14.31,41.04,50.21,31.71,78.95-8.85,27.28-37.51,38.82-64.13,21.51-17.66-11.48-27.13-28.37-30.49-48.92C.56,187.62,.25,186.62,0,185.62c0-4.27,0-8.53,0-12.8Z"/>
                                    <path d="M148.01,409.64c4.36-.99,8.86-1.58,13.05-3.06,5.99-2.12,11.83-4.7,17.58-7.41,15.47-7.29,31.43-8.11,47.18-2.06,11.83,4.54,23,10.81,35.8,12.53h-113.61Z"/>
                                </svg>
                            </div>
                            </label>
                        </div>
                    </div>
                    <div class="next-step-buttons">
                        <a class="blue-button" id="back-to-step-1" href="{{ url('app_dream_category', {'id': dream.id}) }}">>Précédent</a>
                        <input class="blue-button"  type="submit" value="suivant">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
