{% extends 'base.html.twig' %}

{% block title %}Je partage mon rêve - Mon compte{% endblock %}

{% block body %}
    <section class="page postyourdream">
        <div class="wrapper">
            <!-- Step 5 -->
            <div class="dream-phase" id="dream-step-account">
                <h2>Contez votre rêve</h2>
                <p>Publication et inscription</p>
                <h3>Une petite minute !</h3>
                <p >Votre rêve restera visible 24h sur la Terre avant d’être caché pour le public.<br/>
                    Si vous le souhaitez, <b>vous pouvez vous inscrire avant de publier.</b></p>

                <p class="step5-text">Que pouvez-vous faire avec votre compte ?</p>
                <p>Modifier votre rêve si besoin<br/>
                    Garder une trace de votre rêve (au delà des 24h)<br/>
                    Liker les rêves des autres<br/>
                    Voir les rêves similaires</p>
                <div class="next-step-buttons">
                    <div class="blue-button" id="to-end-no-account">Publier sans s'inscrire</div>
                    <div class="blue-button" id="to-step-account-creation">Publier en s'inscrivant</div>
                </div>
                <div class="next-step-buttons">
                    <div class="blue-button" id="back-to-step-4">Précédent</div>
                </div>
            </div>
            <!-- Step Fin sans compte 6a -->
            <div class="dream-phase" id="dream-step-no-account">
                <h2>Contez votre rêve</h2>
                <p>Confirmation</p>
                <h3>Merci d’avoir partagé<br/>ce moment !</h3>
                <p>Retrouvez votre rêve sur la Terre, et voyez si d’autres personnes ont eu des rêves similaires.</p>
                <div class="next-step-buttons">
                    <a class="blue-button" href="https://dev.ographik.fr/reveurdream">Retour à l'accueil</a>
                </div>
            </div>
            <!-- Step inscription compte 6b -->
            <div class="dream-phase" id="dream-step-account-creation">
                <h2>Contez votre rêve</h2>
                <p>Inscription et publication</p>
                <form>
                    <input type="text" name="user_login" id="user_login" class="blue-button" value="" size="20" autocapitalize="off" placeholder="Pseudo" />
                    <input type="email" name="user_email" id="user_email" class="blue-button" value="" size="20" autocapitalize="off" placeholder="Adresse email" />
                    <input type="password" name="pwd" id="user_pass" class="blue-button" value="" size="20" placeholder="Mot de passe" />
                    <input type="password" name="pwd_confirm" id="user_pass_confirm" class="blue-button" value="" size="20" placeholder="Répéter Mot de passe" />
                    <div class="next-step-buttons">
                        <div class="blue-button" id="back-to-step-account">Précédent</div>
                        <input type="submit" name="submit" id="account-submit" class="blue-button" value="Se connecter" />
                    </div>

                </form>
            </div>
            <!-- Validation compte 7 -->
            <div class="dream-phase" id="dream-step-account-validation">
                <h2>Contez votre rêve</h2>
                <p>Confirmation d'inscription</p>
                <h3>Votre inscription<br/>est validée !</h3>
                <div class="next-step-buttons">
                    <a class="blue-button" href="https://dev.ographik.fr/reveurdream">Retour à l'accueil</a>
                    <div class="blue-button" href="https://dev.ographik.fr/reveurdream">Me connecter</div>
                </div>
            </div>
            <!-- Step Fin avec compte 8 -->
            <div class="dream-phase" id="dream-step-account-publication">
                <h2>Contez votre rêve</h2>
                <p>Confirmation</p>
                <h3>Merci d’avoir partagé<br/>ce moment !</h3>
                <p>Retrouvez votre rêve pendant sur la Terre, et voyez si d’autres personnes ont eu des rêves similaires. Ce rêve s’affichera à la place de votre précédent, que vous pouvez toujours consulter dans votre compte.</p>
                <p>Vous aller recevoir un email afin de confirmer votre inscription. Vous pourrez ensuite utiliser votre compte et y retrouver votre rêve.</p>
                <p>Si vous ne recevez pas d’email de confirmation, merci de vérifier dans vos spam ou <a href="">contactez-nous</a>.</p>
                <div class="next-step-buttons">
                    <a class="blue-button" href="https://dev.ographik.fr/reveurdream">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
